@import '../../styles/typo.scss';
@import '../../styles/colors.scss';

.users {
    padding: 24px;
    box-sizing: border-box;
    height: 100%;
}

.title {
    @include title;
    margin: 40px 0;
    color: $text;
}

.all__users {
    margin-bottom: 24px;
}
