@import '../../../styles/typo.scss';
@import '../../../styles/colors.scss';

.friends {
    color: $text;
    background-color: $beige;
}
.title {
    padding: 12px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-bottom: 12px;
}
