@import '../../../styles/typo.scss';
@import '../../../styles/colors.scss';

.info {
    @include bold-title;

    display: flex;
    gap: 48px;
    margin-bottom: 24px;
    color: $text;
}

.status,
.job_status {
    margin-bottom: 24px;
}

.contacts__list__item {
    @include usual-text;
    margin-bottom: 6px;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid $orange;
}
