.header {
    grid-area: header;
    color: white;
    padding: 16px;
    background-color: #341f97;
}
.logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #feca57;
}
