@import '../../styles/typo.scss';
@import '../../styles/colors.scss';

.header {
    @include bold-title;
    grid-area: header;
    color: $light-beige;
    padding: 16px;
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $orange;
}

.login a {
    @include bold-title;
    color: $light-beige;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $orange;
    }
}

.right__content {
    display: flex;
    align-items: center;
    gap: 16px;
}
