@import '../../styles/typo.scss';
@import '../../styles/colors.scss';

.navbar {
    grid-area: navbar;
    color: $text;
    background-color: $orange;
}

.navbar__link {
    color: $text;
    text-decoration: none;
}
