@import '../../styles/typo.scss';
@import '../../styles/colors.scss';

.dialogs__wrapper {
    padding: 24px;
    box-sizing: border-box;
    height: 100%;
    color: $text;
}

.grid {
    display: grid;
    padding: 12px 0;
    grid-template-columns: 2fr 5fr;
}
.dialogs {
    display: flex;
    flex-direction: column;
}
