@import '../../../styles/typo.scss';
@import '../../../styles/colors.scss';

.message {
    padding: 8px;
    margin: 2px;
    border: 1px solid $orange;
    border-radius: 12px;
    background-color: $beige;
}
